.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  margin: 20px;
  
}

.Dictionary h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Dictionary input{
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #333;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}